[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pybase64 = "*"
jsonpickle = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
fastapi = "*"
tflite = "*"
tensorflow = "*"
tflite-runtime = "*"
tensorflow-hub = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
